*{

    box-sizing: content-box;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: rgba(221, 203, 154, 0.507);
    width: 1020px;
    margin: auto;
    text-align: center;
}

.IndexBody{
    margin: 0 auto;
    max-width: 1020px;
}

h1{
    font-family: 'Dela Gothic One', cursive;
}       

.Dela_font{
    font-family: 'Pattaya', sans-serif;
}

p{
    font-size: 15px;
}

div{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

div label{
    font-family: 'Archivo Narrow', sans-serif;
    margin: 10px;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

section{
    position: relative;
    width: 400px;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.349);
    margin: 5px;
    border: 1px;
    border-radius: 10%;
    overflow: hidden;

}

#imageName{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(84, 133, 238, 0.452);
    padding-top: 10px; padding-bottom: 10px;
    margin-top: 0;
}

section img {
    width: 200px;
    height: 200px; 
    margin: auto;
    display: block;
    position:relative;
    border-radius: 10%;
}

button{
    background-color: rgba(201, 201, 197, 0.534);
    border-radius: 50%;
    margin: 5px;
}

.blueFont{
    color:rgba(10, 10, 250, 0.795);
    font-weight: bold;
}
 
 
.inputLable{
    font-size: 12pt;
    font-family: tahoma, helvetica, sans-serif;
}

.Button{
    border: 3px; width: 120px;
    border-radius: 15px;
    background-color:rgba(250, 248, 248, 0.705);
    text-align: center;
    padding: 2px;
    margin-left: 5px; margin-right: 5px;
}

header{
    max-width: 1020px;
    border-style:double;
    border-width: 20px;
    border-color: rgba(53, 97, 190, 0.548);
    margin-top: 20px; margin-bottom: 10px;
    padding: 1px;
    text-align: left;
    overflow: hidden;
}


@keyframes movingHeader{
    0% {left:1020px;}
    100% {left:0px;}
}

.txt_movingHeader{
    animation-name: movingHeader;
    animation-duration: 2s;
    animation-delay: 1s;
    font-weight: bold; font-size: 30px;
    position: relative;
}

nav{
    border-top-style: dotted;
    border-color: rgba(49, 42, 33, 0.795);

   margin-top: 5px; margin-bottom: 5px; padding: 5px;
}

nav a{
    font-family: 'Archivo Narrow', sans-serif;
}


.box_box_img_transition{
    /*an outer box that contains 2 boxes*/
    width: 100%; 
    display: flex;
    flex-direction: row; /*in order to display 2 inner box in one row*/
    justify-content: center;
}

.box_img_transition{
    /*a box that contains an image*/
    margin: 5px;
    border-style: solid; border-color:azure;
    width: 200px;
    height: 200px; 
    position: relative;
}

.img_transition{
    width: 50px; height: 50px;
    transition: width 2s, height 2s;
}

.img_transition:hover{
    /*become bigger when hovering*/
    width: 200px;
    height: 200px;
}


#Introduction{
    column-count: 3; column-gap: 20px; column-rule-style: dotted; column-rule-width: 2px; column-rule-color: gray;
    text-align: justify; 
    border-style: groove;
    padding: .5em; margin: 1em;
}

